body {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 70px;
    background-color: rgb(189 255 241);
}

#container {
    display: flex;
    width: 490px;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    box-sizing: border-box;
    background-color: #ff87b5;
    border-radius: 25px;
}

.input {
    display: flex;
    align-items: center;
    height: 100px;
    width: 420px;
    padding: 20px;
    background-color: #ffecf3;
    flex-shrink: 1;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 25px;
    color: #7a0f38;
}

.keypad {
    display: flex;
    height: 480px;
    width: 430px;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    box-sizing: border-box;
    margin-top: 10px;
}

.operator-column {
    display: flex;
    height: 480px;
    width: 70px;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.number-pad {
    display: flex;
    width: 360px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.number-button,
.decimal-button,
.equals-button {
    height: 100px;
    width: 100px;
    margin: 10px;
    box-sizing: border-box;
    flex-shrink: 1;
    background-color: #ffd0e2;
    border: 0px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 30px;
    color: #7a0f38;
}

.operator-button,
.backspace-button {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    flex-shrink: 1;
    background-color: #ff418a;
    border: 0px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 20px;
}

.clear-button {
    width: 50px;
    height: 150px;
    box-sizing: border-box;
    flex-shrink: 1;
    writing-mode: vertical-lr;
    text-orientation: upright;
    background-color: #ff418a;
    border: 0px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px;
    font-size: 16px;
}

.operator-button,
.backspace-button,
.clear-button {
    margin: 10px;
    color: #7a0f38;
}

.number-button,
.decimal-button,
.equals-button,
.operator-button,
.backspace-button,
.clear-button,
.input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}