#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    height: 50px;
    width: 500px;
    box-sizing: border-box;
}

.keypad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator-column {
    display: flex;
    flex-direction: column;
}

.number-pad {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.number-button,
.decimal-button,
.equals-button {
    height: 100px;
    width: 100px;
    margin: 5px;
    box-sizing: border-box;
}

.operator-button,
.backspace-button {
    height: 25px;
    width: 25px;
    margin: 5px;
    box-sizing: border-box;
}

.clear-button {
    height: 65px;
    width: 25px;
    display: flex;
    flex: column;
    box-sizing: border-box;
    margin: 5px;
}